<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  <br>
    <%= f.label :course %><br>
    <%= f.text_field :course %>
  <br>
    <%= f.label :cooktime %><br>
    <%= f.number_field :cooktime %>
  <br>
    <%= f.label :servingsize %><br>
    <%= f.number_field :servingsize %>
  <br>
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  <br>
    <%= f.label :image %><br>
    <%= f.text_area :image %>
  <br>
    <%= f.label :book_id %><br>
    <%= f.number_field :book_id %>
  
  <div class="input-group">
    <% Ingredient.order(:name).each do |food| %>
      <span class="input-group-addon">
        <%= food.name %>
        <%= check_box_tag 'recipe[ingredient_ids][]', food.id, food.in?(@recipe.ingredients), {class: "checkbox inline"} %>
      </span>
    <% end %>
  </div>
  
  <p>
    <%= f.submit class: "btn- btn-primary" %>
    <% end %>
