<%= render "nav" %>
<%= render "header" %>

<div class="panel-body">
  <div class="row-center">
    <div class="col-xs-4 col-xs-offset-1">
      <h1>THE RECIPES</h1>


<%= form_for(@recipe) do |f| %>


  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", :autofocus => true %>
  <br>
    <%= f.label :course %><br>
    <%= f.text_field :course, class: "form-control", :autofocus => true %>
  <br>
    <%= f.label :cooktime %><br>
    <%= f.number_field :cooktime, class: "form-control", :autofocus => true %>
  <br>
    <%= f.label :servingsize %><br>
    <%= f.number_field :servingsize, class: "form-control", :autofocus => true %>
  <br>
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions, class: "form-control", :autofocus => true %>
  <br>
    <%= f.label :image %><br>
    <%= f.text_area :image, class: "form-control", :autofocus => true %>
  <br>
    <%= f.label :book_id %><br>
    <%= f.number_field :book_id, class: "form-control", :autofocus => true %>
  <br>
  
  <div class="input-group">
    <% Ingredient.order(:name).each do |food| %>
      <span class="input-group-addon">
        <%= food.name %>
        <%= check_box_tag 'recipe[ingredient_ids][]', food.id, food.in?(@recipe.ingredients), {class: "checkbox inline"} %>
      </span>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.submit class: "btn- btn-primary" %>
  </div>
  <br>
  <%= link_to 'Show', @recipe %> |
  <%= link_to 'Back', recipes_path %>
  <br>
<% end %>

</div>
</div>
</div>
