<%= render "nav" %>
<%= render "header" %>



<div class="row-center">
  <div class="col-xs-12 newBook">
    <p>Want to add a new Recipe? <%= link_to('New Recipe', new_recipe_path) %> </p>
  </div>
</div>

<div class="row-center">
  <div class="col-xs-12">
    <h1>The Recipes</h1>
  </div>
</div>

<div class="row-center">
  <div class="col-xs-12">
    <% @recipes.each do |recipe| %>
      <div class="col-xs-4 thumbnail">
        <%= image_tag(recipe.image) %>
        <h2><%= link_to(recipe.name, recipe) %></h2>
        <h4>Course: <%= recipe.course %></h4>
        <h4>Cook time: <%= recipe.cooktime %></h4>
      </div>
    <% end %>
  </div>
</div>
