<%= render "nav" %>
<%= render "header" %>

<div class="row">
  <div class="col-xs-12 newBook">
    <p>Something wrong?? | <%= link_to('Edit Recipe!', edit_recipe_path) %> | <%= link_to('Delete Book', @recipe, :method => :delete, :confirm => 'Are you sure?') %> </p>
  </div>
</div>

<div class="panel-body">
  <div class="row">
    <!-- previous button -->
    <% if @recipe.id != 1 %>
      <a href="/recipes/<%= @recipe.id - 1%>" class="prev">Previous</a>
    <% end %>
    <!-- next button -->
    <% if @recipe.id != @recipes %>
      <a href="/recipes/<%= @recipe.id + 1%>" class="next">Next</a>
    <% end %>
  </div>

<div class="row">
  <div class="row-center">

    <div class="col-xs-4 col-xs-offset-1">
      <img src="<%= @recipe.image %>">
    </div>

    <div class="col-xs-6">
      <div class="recipe-description right-panel">
        <h3><%= @recipe.name %></h3>
        <h4>Course: <%= @recipe.course %></h4>
        <h4>Cooktime: <%= @recipe.cooktime %> minutes</h4>
        <h4>Serving Size: <%= @recipe.servingsize %></h4>
        <h4>Instructions: <%= @recipe.instructions %></h4>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="row-center">
  <div class="col-xs-12">
    <% @recipe.ingredients.each_with_index do |food, index| %>
          <% if(index % 4 == 0) %>
        </div>
          <div class="row">

            <div class="col-xs-3 thumbnail">
              <%= image_tag(food.image, width: '150', height: '150') %>
              <h3><%= link_to(food.name, food) %></h3>
              <p>Cost: <%= food.cost %></p>
              <p>Measurements: <%= food.measurement %></p>
            </div>

            <% else %>
              <div class="col-xs-3 thumbnail">
                <%= image_tag(food.image, width: '150', height: '150') %>
                <h3><%= link_to(food.name, food) %></h3>
                <p>Cost: <%= food.cost %></p>
                <p>Measurements: <%= food.measurement %></p>
              </div>
          <% end %>
    <% end %>
  </div>  
</div>
</div>



