<ul class="nav nav-pills">
  <li>
    <%= link_to('New Ingredients', new_ingredient_path) %>
  </li>
</ul>


<% @ingredients.each do |ingredient| %>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <p class="lead"><%= link_to(ingredient.name, ingredient) %>
      <p>Measurements: <%= ingredient.measurement %>
      <p>Cost: <%= ingredient.cost %> dollars.
    </div>

    <div class="col-md-8 col-sm-8">
      <p><%= image_tag(ingredient.image, width: '300', height: '300') %>
    </div>
  </div>
<% end %>



