<ul class="nav nav-pills">
  <li><%= link_to('New Ingredient', new_ingredient_path) %></li>
  <li><%= link_to('Delete Ingredient', @ingredient, :method => :delete, :confirm => 'Are you sure?') %></li>
  <li><%= link_to('Edit Ingredient', edit_ingredient_path(@ingredient)) %></li>
</ul>
<br>

<div class="row">
	<div class="col-md-4">
		<p class="lead"><%= @ingredient.name %></p>
		<p class="text-info">Measurements: <%= @ingredient.measurement %></p>
		<p class="text-info">Costs: <%= @ingredient.cost %> dollars.</p>
	</div>
	<div class="col-md-8">
		<p class="text-warning"><%= image_tag(@ingredient.image, width: '300', height: '300') %></p>
	</div>
</div>



