<%= render "nav" %>
<%= render "header" %>

<div class="row">
  <div class="col-xs-12 newBook">
    <p>Want to add a new Book? <%= link_to('Add it Now!', new_book_path) %></p>
  </div>
</div>

<div class="panel-body">
  <div class="row-center">
    <div class="col-xs-12 books">
      <!-- all books, with code for fancy box popup -->
      <% @books.each do |book| %>
       <a class="fancybox" title="<h4><%= book.title %></h4><h5>Written by: <%= book.chef %></h5><h5>Cuisine: <%= book.cuisine %></h5><a href='/books/<%= book.id %>'>See More...</a>" rel="group" href="<%= book.image %>"><img class="book" src="<%= book.image %>"></a>
      <% end %>
    </div>
  </div>


</div>



