<%= render "nav" %>
<%= render "header" %>

<div class="row-center">
  <div class="col-xs-12 newBook">
    <p>Something wrong?? | <%= link_to('Edit Book!', edit_book_path) %> | <%= link_to('Delete Book', @book, :method => :delete, :confirm => 'Are you sure?') %> </p>
  </div>
</div>

<div class="panel-body" style="margin-top:30px">
  <div class="row">
    <!-- previous button -->
    <% if @book.id != 1 %>
      <a href="/books/<%= @book.id - 1%>" class="prev">Previous</a>
    <% end %>
    <!-- next button -->
    <% if @book.id != @books %>
      <a href="/books/<%= @book.id + 1%>" class="next">Next</a>
    <% end %>
  </div>


<div class="row">
  <div class="row-center">
  <!-- book image -->
    <div class="col-xs-4 col-xs-offset-1">
      <%= image_tag(@book.image, width: '300', height: '400') %>
    </div>
  
  <!-- Description -->
    <div class="col-xs-6">
      <div class="book-description right-panel">
        <h3><%= @book.title %></h3>
        <h4>Written by: <%= @book.chef%></h4>
        <h4>Cuisine: <%= @book.cuisine %></h4>
      </div>
    </div>
  </div>
</div>
<br>

<!-- SHOW LIST OF RECEPIES HERE -->
<% @book.recipes.each do |recipe| %>
  <div class="row">
    <div class="row-center">
      <div class="col-xs-3" style="margin-left: 45px">
        <h4><%= link_to(recipe.name, recipe) %></h4>
         <%= image_tag(recipe.image) %>
      </div>

      <div class="col-xs-8" style="margin-top: 40px; margin-left: 25px">
        <div class="row">
          <% recipe.ingredients.each_with_index do |food, index| %>
          <% if(index % 4 == 0) %>
        </div>
          <div class="row">

            <div class="col-xs-3 thumbnail">
              <%= image_tag(food.image, width: '150', height: '150') %>
              <h3><%= link_to(food.name, food) %></h3>
              <p>Cost: <%= food.cost %></p>
              <p>Measurements: <%= food.measurement %></p>
            </div>

            <% else %>
              <div class="col-xs-3 thumbnail">
                <%= image_tag(food.image, width: '150', height: '150') %>
                <h3><%= link_to(food.name, food) %></h3>
                <p>Cost: <%= food.cost %></p>
                <p>Measurements: <%= food.measurement %></p>
              </div>
          <% end %>
          <% end %>
          </div>
      </div>
    </div>
  </div>
  <hr>
<% end %>






